.feature-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 113px;
    padding-bottom: 113px;
    padding-left: 120px;
    gap: 50px;
  }
  
  .image-container {
    padding-top: 60px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .text-container {
    flex: 1;
    padding: 0 20px;
  }
  
  .header h4 {
    color: #888;
    text-transform: uppercase;
  }
  
  .header h2 {
    font-size: 2.5rem;
    color: #000;
    margin: 10px 0;
  }
  
  .text-container p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .text-container button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .text-container button:hover {
    background-color: #333;
  }
