.header {
    background: #FFA07A;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
  }
  
  .navigation a:not(:last-child):after {
    content: '/';
    padding-left: 10px;
  }