.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .input {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
  }
  
  .button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #333;
  }
  
  .title {
    text-align: center;
  }
  